/* COLOR */
/* TYPOGRAPHY */
/* UTILS */
.text_preset_1 {
  font-family: "Poppins", serif;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.016em;
  color: #4D4F62;
}

.text_preset_2 {
  font-family: "Poppins", serif;
  font-weight: 200;
  line-height: 140%;
  letter-spacing: 0.016em;
  color: #4D4F62;
}

.text_preset_3 {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 135%;
  color: #4D4F62;
}

.text_preset_4 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 140%;
  letter-spacing: 0.001em;
  color: #4D4F62;
}

.text_preset_5 {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 160%;
  color: #4D4F62;
}

.container {
  width: 100%;
  max-width: 19.75em;
  margin: 0 auto;
}

@media screen and (min-width: 48em) {
  .container {
    max-width: 41.25em;
  }
}
@media screen and (min-width: 87.5em) {
  .container {
    max-width: 69.625em;
  }
}
.intro_text {
  text-align: center;
  margin: 3.5em auto 3.75em;
}
.intro_text .intro_text__addition {
  margin-bottom: 1em;
}

@media screen and (min-width: 48em) {
  .intro_text {
    max-width: 33.75em;
    margin: 4.625em auto 5em;
  }
  .text_preset_2,
  .text_preset_1 {
    font-size: 2.25rem;
  }
}
.grid {
  display: grid;
  gap: 2em;
  margin-bottom: 3.75em;
}
.grid .grid_item {
  min-height: 14.688em;
  width: 19.625em;
  border-radius: 0.5em;
  box-shadow: 0 0.938em 30px -11px #83A6D2;
  overflow: hidden;
  transition: all 0.3s ease;
}
.grid .grid_item:hover {
  transform: scale(1.1);
}
.grid .grid_item__content {
  padding: 2em 2em 2.938em 2em;
}
.grid .grid_item__title {
  margin-bottom: 0.375em;
}
.grid .grid_item__text {
  width: 100%;
  max-width: 15.625em;
  margin-bottom: 2em;
}
.grid .grid_item__img {
  display: block;
  margin-left: auto;
}
.grid .grid_item .color_line {
  width: 100%;
  height: 0.25em;
}
.grid .grid_item:nth-of-type(1) .color_line {
  background-color: #44D3D2;
}
.grid .grid_item:nth-of-type(2) {
  grid-row-start: 2;
}
.grid .grid_item:nth-of-type(2) .color_line {
  background-color: #EA5454;
}
.grid .grid_item:nth-of-type(3) {
  grid-row-start: 3;
}
.grid .grid_item:nth-of-type(3) .color_line {
  background-color: #FCAE4A;
}
.grid .grid_item:nth-of-type(4) {
  grid-row-start: 4;
}
.grid .grid_item:nth-of-type(4) .color_line {
  background-color: #549EF2;
}

@media screen and (min-width: 48em) {
  .grid {
    margin-bottom: 5em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .grid .grid_item:nth-of-type(1) {
    grid-area: 2/1/3/2;
  }
  .grid .grid_item:nth-of-type(2) {
    grid-area: 1/1/2/-1;
    justify-self: center;
  }
  .grid .grid_item:nth-of-type(3) {
    grid-area: 2/2/3/3;
  }
  .grid .grid_item:nth-of-type(4) {
    grid-area: 3/1/-1/-1;
    justify-self: center;
  }
}
@media screen and (min-width: 87.5em) {
  .grid {
    margin-bottom: 10.188em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .grid .grid_item {
    min-height: 15.625em;
    width: 21.875em;
  }
  .grid .grid_item:nth-of-type(1) {
    grid-area: 1/1/-1/-1;
    align-self: center;
  }
  .grid .grid_item:nth-of-type(2) {
    grid-area: 1/1/2/-1;
  }
  .grid .grid_item:nth-of-type(3) {
    grid-area: 2/2/3/3;
  }
  .grid .grid_item:nth-of-type(4) {
    grid-area: 1/3/-1/-1;
    align-self: center;
  }
}