body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page_wrapper {
  background-color: #ECF2F8;
  block-size: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  inline-size: 100%;
  max-inline-size: 16.688rem;
  margin: 2rem 1.875rem 2.125rem;
}
@media screen and (min-width: 48rem) {
  .container {
    max-inline-size: 19.438rem;
    margin: 2.563rem 2.25rem 1.5rem 2rem;
  }
}
@media screen and (min-width: 90rem) {
  .container {
    max-inline-size: 22.813rem;
    margin: 1.875rem 0 1.5rem 2rem;
  }
}

.container_positioning {
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  padding-block-start: 0.875rem;
  padding-block-end: 1.125rem;
  position: relative;
}
@media screen and (min-width: 48rem) {
  .container_positioning {
    position: relative;
    gap: 6.1rem;
    padding-block-start: 0;
    padding-block-end: 2.563rem;
  }
}
@media screen and (min-width: 90rem) {
  .container_positioning {
    max-inline-size: 22.813rem;
    margin-inline-start: 2rem;
    padding-block-end: 1.875rem;
    gap: 10rem;
  }
}

.profile__personal_detail {
  display: flex;
  gap: 1rem;
}
.profile__avatar_img {
  inline-size: 2.5em;
  block-size: 2.5em;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .profile__avatar_img {
    transition: transform 0.3s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  .profile__avatar_img {
    transition: none;
  }
}
.profile__avatar_img::after {
  content: "";
  position: absolute;
  inset: 0;
  inline-size: 2.5em;
  block-size: 2.5em;
  background: linear-gradient(0deg, transparent, transparent 30%, rgba(236, 242, 248, 0.2980392157));
  transform: rotate(-45deg);
  opacity: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .profile__avatar_img::after {
    transition: all 0.5s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  .profile__avatar_img::after {
    transition: none;
  }
}
.profile__avatar_img:hover::after {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}
.profile__name_and_date {
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  #icon_share {
    transition: transform 0.2s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  #icon_share {
    transition: none;
  }
}
@media screen and (min-width: 48rem) {
  #icon_share {
    margin: 0.25rem 0.313rem 0.25rem 0;
  }
}
#icon_share:focus-visible {
  transform: scale(1.1);
}

.card {
  inline-size: 100%;
  border-radius: 0.625rem;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 40px 40px -10px rgba(201, 214, 225, 0.534);
  display: flex;
  max-inline-size: 20.438rem;
  flex-direction: column;
}
@media screen and (min-width: 48rem) {
  .card {
    max-inline-size: 38rem;
    flex-direction: row;
    /*TODO: needs refactoring; let toast overflow card at tablet/desktop size*/
    overflow: visible;
  }
}
@media screen and (min-width: 90rem) {
  .card {
    max-inline-size: 45.625rem;
  }
}
.card__img {
  inline-size: 100%;
  height: 12.5rem;
  object-fit: cover;
}
@media screen and (min-width: 48rem) {
  .card__img {
    max-inline-size: 14.313rem;
    height: auto;
    /*necessary to round img borders because overflow: visible at tablet/desktop size*/
    border-start-start-radius: 0.625rem;
    border-end-start-radius: 0.625rem;
  }
}
@media screen and (min-width: 90rem) {
  .card__img {
    inline-size: 100%;
    max-inline-size: 17.813rem;
  }
}
.card__heading {
  margin-block-end: 1.5rem;
}

.toast {
  z-index: -1;
  position: absolute;
  left: 1.875rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .toast {
    background-color: #48556A;
    padding: 1.125rem 1.938rem 1.063rem 2rem;
    border-radius: 0.625em;
    inline-size: 100%;
    max-inline-size: 15.5rem;
    inset-inline-start: 52%;
    inset-block-end: 133%;
    align-items: center;
    box-shadow: 0 0.625rem 0.625rem 0 rgba(201, 213, 225, 0.5019607843);
  }
}
@media screen and (min-width: 90rem) {
  .toast {
    inset-inline-start: 62%;
    inset-block-end: 140%;
  }
}
.toast__list {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.toast__text_social {
  text-transform: uppercase;
  color: #9DAEC2;
  cursor: pointer;
}
.toast__cta_social {
  cursor: pointer;
}
.toast__cta_social svg {
  overflow: visible;
}
@media (prefers-reduced-motion: no-preference) {
  .toast__cta_social path {
    transition: all 0.3s ease;
  }
}
@media (prefers-reduced-motion: reduce) {
  .toast__cta_social path {
    transition: none;
  }
}
@media (pointer: coarse) {
  .toast__cta_social:active path {
    fill: #9DAEC2;
  }
}
@media (pointer: fine) {
  .toast__cta_social:hover path {
    fill: #9DAEC2;
  }
}
.toast__triangle {
  opacity: 0;
  position: absolute;
  inset-block-start: 110%;
  inset-inline-start: 50%;
  transform: translate(-50%, -50%);
  inline-size: 0;
  block-size: 0;
  border-top: 0.75em solid #48556A;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
}
@media screen and (min-width: 48rem) {
  .toast__triangle {
    opacity: 1;
  }
}

#icon_share {
  cursor: pointer;
}
@media screen and (min-width: 48rem) {
  #icon_share {
    margin-block-start: 0.25rem;
    margin-block-end: 0.313rem;
    margin-inline-end: 0.25rem;
  }
}
@media screen and (min-width: 90rem) {
  #icon_share {
    margin-inline-end: 0.188rem;
    margin-block-end: 0.25rem;
  }
}

.text_preset_1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.016rem;
  color: #48556A;
}

.text_preset_2--bold, .text_preset_2--medium_500, .text_preset_2--medium_400, .text_preset_2--medium_400 {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.001rem;
}

.text_preset_3 {
  font-family: "Manrope", sans-serif;
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.25rem;
}

.text_preset_2--medium_500, .text_preset_2--medium_400 {
  font-weight: 500;
}

.text_preset_2--medium_400 {
  color: #9DAEC2;
}

.text_preset_2--medium_500 {
  color: #6E8098;
}

.text_preset_2--bold {
  font-weight: 700;
  color: #48556A;
}

.fill--white {
  fill: #FFFFFF;
}

.fill--grey_500 {
  fill: #6E8098;
}

.toast--is_visible {
  z-index: 1;
}

.profile--is_hidden {
  opacity: 0;
}

.container_positioning--dark {
  background-color: #48556A;
}