@use "../abstract/vars";
@use "sass:map";

.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 21.875rem;
    border-radius: 0.5rem;
    overflow: hidden;

    background-color: vars.$white;

    &__img {
        width: 100%;
        height: 342px;
        max-width: 21.875rem;
        object-fit: cover;
    }

    &__text {
        padding: map.get(vars.$spacing, 400);

        &>:not(:last-child) {
            margin-block-end: map.get(vars.$spacing, 300);
        }

        .card__product_category {
            text-transform: uppercase;
        }

        .card__product_name {
            color: vars.$black;
        }
    }

    &__price {
        display: flex;
        align-items: center;

        .card__current_price {
            color: map.get(vars.$green, 500);
            margin-inline-end: map.get(vars.$spacing, 200);
        }

        .card__original_price {
            color: vars.$grey;
            text-decoration: line-through;
        }
    }
}

/* BREAKPOINTS */
@media screen and (min-width: 48em) {
    .card {
        flex-direction: row;
        max-width: 37.5rem;

        &__img {
            height: auto;
        }
    }
}