@use "../abstract/vars";
@use "sass:map";

.container {
    width: 100%;
    max-width: 19.75em;
    margin: 0 auto;
}

@media screen and (min-width: 48em) {
    .container {
        max-width: 41.25em;
    }
}

@media screen and (min-width: 87.5em) {
    .container {
        max-width: 69.625em;
    }
}