//COLORS
$black: hsl(0deg, 0%, 0%);
$black--bg: hsl(0deg, 0%, 12%);
$blue: hsl(195deg, 74%, 62%);
$green: hsl(145deg, 58%, 55%);
$grey: hsl(0deg, 0%, 85%);
$navy--200: hsl(236deg, 100%, 87%);
$navy--800: hsl(235deg, 41%, 34%);
$navy--900: hsl(235deg, 46%, 20%);
$navy--950: hsl(226deg, 43%, 10%);
$orange: hsl(15deg, 100%, 70%);
$pink: hsl(348deg, 100%, 68%);
$purple--500: hsl(235deg, 45%, 61%);
$purple--600: hsl(246deg, 80%, 60%);
$purple--700: hsl(264deg, 64%, 52%);
$white: hsl(0deg, 100%, 100%);
$yellow: hsl(43deg, 84%, 65%);

//TYPOGRAPHY
$font_family: "Rubik", sans-serif;
$base_typography_unit: 1rem;

$fw: (
    "light": 300,
    "regular": 400,
    "medium": 500,
);

$fs: (
    15: $base_typography_unit - .062,
    16: $base_typography_unit,
    18: $base_typography_unit + .125,
    24: $base_typography_unit * 1.5,
    32: $base_typography_unit * 2,
    40: $base_typography_unit * 2.50,
    56: $base_typography_unit * 3.5,
);

//SPACING
$base_spacing_unit: .5rem; // 8px
$spacing: (
  0:    $base_spacing_unit * 0,       
  100:  $base_spacing_unit,           
  200:  $base_spacing_unit * 2,       // 16px
  300:  $base_spacing_unit * 3,       // 24px
  400:  $base_spacing_unit * 4,       // 32px
  500:  $base_spacing_unit * 5,       // 40px
  600:  $base_spacing_unit * 6,       // 48px
);

//BORDER
$base_radius_unit: .188rem; // 3px
$border_radius: (
    15: $base_radius_unit * 5,
    circle: 50%,
);

//BREAKPOINTS   
$breakpoint: (
    m_screen: 48rem,
    l_screen: 90rem,
);